<!DOCTYPE html><html><head><meta charset="utf-8"><title>Головна</title></head><body>
<h1>Головна</h1>
<p><a href="/task2/">Ласкаво просимо до всесвіту зоряних воєн! Виберіть сторінку</a></p>
<ul>
  <li><a href="/luke/">Люк</a></li>
  <li><a href="/leia/">Лея</a></li>
  <li><a href="/han/">Хан</a></li>
</ul>
<hr>
<p>Інші завдання:</p>
<ul>
  <li><a href="/task1/">Завдання 1</a></li>
  <li><a href="/task3/">Завдання 3 (файл з кодом 227)</a></li>
  <li><a href="/task4/html/">Завдання 4 (HTML)</a></li>
  <li><a href="/task4/json/">Завдання 4 (JSON)</a></li>
  <li><a href="/task4/text/">Завдання 4 (Text)</a></li>
  <li><a href="/task4/file/">Завдання 4 (File)</a></li>
  <li><a href="/task5/">Завдання 5</a></li>
  <li><a href="/task6/">Завдання 6</a></li>
  <li><a href="/polls/">Завдання 7 (polls)</a></li>
</ul>
</body></html>